.link-list > ul > li > a {
  color: white;
  text-decoration: none;
}

.credit {
  background-color: black;
  padding: 70px 0px;
  height: 150px;
  width: 100wh;
  min-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > .link-list > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    > li {
      margin: 0 30px;
    }
  }
}

.copyright {
  color: white;
  padding: 20px 0px;
  margin-top: 10px;
  text-align: center;
}
